{% extends 'layout.html' %}
{% block content %}
<span class="subtitle">TMZ HAIKU:</span>
</h2>
<h2 class="">
  <span class="subtitle">POEMS CAN HIDE ANYWHERE.</span>
</h2>
<h2 class="subtitle">
  <span>EVEN THE DUMPSTER.</span>
</h2>
<div class="buttons is-centered">
  <a class="button is-primary" href="#">GENERATE NEW HAIKU</a>
</div>
<div class="buttons is-centered">
  <a class="button is-dark is-outlined" href="#">REGENERATE LINE 2</a><a class="button is-dark is-outlined"
  href="#">REGENERATE LINE 3</a>
</div>
{% endblock %}
