<!-- @format -->

<!DOCTYPE html>
<html lang="en">

<head>
  <title>Page Title</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" />
  <link rel="icon" type="image/png" sizes="32x32" href="shuffle-for-bulma.png" />
</head>

<body>
  <div class="">
    <section></section>

    <section class="is-background-contain is-background-no-repeat">
      <div class="section" contenteditable="false">
        <div class="container" contenteditable="false">
          <div class="is-max-w-lg mx-auto has-text-centered">
            <h5 class="title is-spaced">
              <span class="has-text-primary">POETRY BINGO</span>
            </h5>
          </div>
        </div>
      </div>
    </section>

    <section class="is-background-contain is-background-no-repeat">
      <div class="section" contenteditable="false">
        <div class="container" contenteditable="false">
          <div class="is-max-w-lg has-text-centered mx-auto">
            <h2 class="">

              {% block content %}
              {% endblock %}

            </h2>
          </div>
        </div>
      </div>
  </div>
  <div class="is-hidden navbar-side is-fixed" style="
            top: 0;
            left: 0;
            bottom: 0;
            width: 80%;
            height: 100%;
            z-index: 9999;
          " id="sideMenuHeaders04">
    <div class="navbar-backdrop is-fixed is-top is-right is-fullsize has-background-grey"
      style="opacity: 75%; z-index: 50"></div>
    <nav class="navbar is-relative is-flex is-flex-direction-column pt-4 px-4"
      style="width: 100%; height: 100%; z-index: 50; overflow-y: auto">
      <div class="mb-5 navbar-brand is-flex is-justify-content-space-between">
        <a class="navbar-item" data-toggle="side-menu" data-target="#sideMenuHeaders04"
          aria-controls="sideMenuHeaders04" aria-label="Close">
          <svg class="image is-24x24" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24"
            stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
          </svg></a>
      </div>
    </nav>
  </div>
  </section>

  <section class="section">
    <div class="container">
      <div class="columns is-multiline is-justify-content-space-between">
        <!-- <div class="column is-3">
              <p class="">TMZ POETRY:</p>
              <p class="">POEMS CAN HIDE ANYWHERE.</p>
              <p class="">EVEN THE DUMPSTER.</p>
            </div> -->
        <div class="column is-3">
          <p class="">TMZ POETRY:</p>
          <p class="">ART CAN SHOW UP ANYWHERE.</p>
          <p class="">EVEN THE DUMPSTER.</p>
        </div>
        <div class="column is-2 is-offset-1">
          <h3 class="title is-size-6 is-spaced mb-3">Other Apps By Ben:</h3>
          <p class="subtitle"></p>
        </div>
        <div class="column is-2">
          <h3 class="title is-size-6 is-spaced mb-3">Praise:</h3>
          <p class="">ben@obverter.com</p>
        </div>
      </div>
      <div class="mt-5 is-flex is-justify-content-space-between">
        <p class="subtitle is-size-7">
          © 2022 OBVERTER LLC. All rights reserved.
        </p>
      </div>
    </div>
  </section>
  </div>
</body>

</html>